* {
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 2px;
    box-shadow: 0 1px 5px -2px rgb(21, 21, 21);
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
}

.nav-logo p{
    margin: 0;
    padding: 0;
    font-size: 38px;
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: red;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button {
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid rgb(139, 127, 127);
    border-radius: 75px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    background: rgb(255, 255, 255);
    cursor: pointer;
}

.nav-login-cart button:hover {
    background: rgb(244, 235, 235);
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    color: white;
    background: red;
}